{% extends 'layout.html' %}
{% block body %}
<div class="centered" id="whitebox">
<div style="padding: 30px;">
				<h1>Register</h1>
</div>
<div style="padding: 30px; position: absolute; width: 90%; bottom: 5%">
	<form style="padding-right: 30px;" action="{{ url_for('add') }}" method="post">
		Username<br>
		<input type="text" name="Username" class="credentials" name="Username" required><br>
		<br>
		Password<br>
		<input type="Password" name="Password" class="credentials" name="Password" required><br><br>
		<input type="submit" value="Register" class="submit">
	</form>
</div>
</div>
<a href="{{ url_for('index') }}" style="position: absolute; bottom: 12%; left: 44%; background-color: white;padding: 15px;font-family: Quicksand; border-radius: 25px;">Click Here to Login</a>

{% endblock %}